[View in Colaboratory](https://colab.research.google.com/github/ShreyashiSaha/Assignment-2/blob/ShreyashiSaha/Assignment_2.ipynb)

# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
dummy_list=[i for i in range(10)]

2) print dummy_list

In [2]:
print(dummy_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

3) Reverse dummy_list and print

In [5]:
for i in dummy_list[::-1]:
  print (i)

9
8
7
6
5
4
3
2
1
0

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [0]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list.extend(dummy_list_2)
print(dummy_list)

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [0]:
from collections import Counter
dummy_dict=Counter(dummy_list)

6) print dummy_dict

In [0]:
print(dummy_dict)

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [0]:
print(sorted(dummy_list))
print(sorted(dummy_list,reverse=True))

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [0]:
x = 200
dummy_list.remove(x)
print(dummy_list)

# Let's play: try the same with something which is not in the list to get the ValueError
dummy_list.remove(10)
print(dummy_list)

9) Remove the item at position x. x is any random integer

In [0]:
print(dummy_list)
del dummy_list[4]
print(dummy_list)
# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get

del dummy_list[25]

10) Let's clean everything clear the list and then print

In [0]:
dummy_list.clear()
print(dummy_list)

# Numpy Exercises

1) Create a uniform subdivision of the interval -1.3 to 2.5 with 64 subdivisions

In [0]:
import numpy as np #import numpy
print(np.linspace(-1.3,2.5,num=64))

2) Generate an array of length 3n filled with the cyclic pattern 1, 2, 3

In [0]:
x=np.array([1,2,3])
y=np.resize(x,3*x.shape[0])
print(y.reshape(3,3))

3) Create an array of the first 10 odd integers.

In [0]:
print(np.arange(1,20,2))

4) Find intersection of a and b

In [0]:
#expected output array([2, 4])
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
c=set(a)& set(b)
print(np.array(list(c)))

5) Reshape 1d array a to 2d array of 2X5

In [0]:
a = np.arange(10)
print(a.reshape(2,5))

6) Create a numpy array to list and vice versa

In [0]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list(a)
print(type(a))
a=np.array(a)
print(type(a))

7) Create a 10 x 10 arrays of zeros and then "frame" it with a border of ones.

In [0]:
zero_arr=np.zeros((10,10))
zero_arr[::9,:]=1
zero_arr[:,::9]=1
print(zero_arr)

8) Create an 8 x 8 array with a checkerboard pattern of zeros and ones using a slicing+striding approach.

In [0]:
checker=np.zeros((8,8))
checker[::2,1::2]=1
checker[1::2,::2]=1
print(checker)

# Numpy Examples

## What is numpy?

#### Python has built-in:

-  containers: lists (costless insertion and append), dictionnaries (fast lookup)
-  high-level number objects: integers, floating point

#### Numpy is:

 - extension package to Python for multidimensional arrays
 - closer to hardware (efficiency)
 - designed for scientific computation (convenience)


#### Import numpy

In [0]:
import numpy as np

### Uncomment Print statement and run each cell to see the output

#### Create numpy arrays

In [0]:
a = np.array([1, 2, 3])   # Create a rank 1 array
print(a)
print(type(a)) #print type of a

b = np.array([[1,2,3],[4,5,6]])    # Create a rank 2 array
print(b.shape)                     # Prints "(2, 3)"
print(b[0, 0], b[0, 1], b[1, 0])

#### Some basic functions for creating arrays. Print all the defined arrays and see the results.

In [0]:
a = np.zeros(shape=(2,2))
b = np.ones(shape = (3,3))
c = np.eye(2)
d = np.full(shape=(3,3), fill_value=5)
e = np.random.random((2,2))

print('a', a)
print('b',b)
print('c',c)
print('d',d)
print('e',e)

#### Execute and understand :)

In [0]:
a  =  np.arange(10)
b  =  np.linspace(0,10, num=6)
print(a)
print(b)

#### Array Indexing

In [0]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):
# [[2 3]
#  [6 7]]
b = a[:2, 1:3]

# A slice of an array is a view into the same data, so modifying it
# will modify the original array.

print(a[0, 1])   # Prints "2"

b[0, 0] = 77     # b[0, 0] is the same piece of data as a[0, 1]
print(a[0, 1])   # Prints "77"

#### Slicing

In [0]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

row_r1 = a[1, :]    # Rank 1 view of the second row of a
row_r2 = a[1:2, :]  # Rank 2 view of the second row of a

print(row_r1, row_r1.shape)  # Prints "[5 6 7 8] (4,)"
print(row_r2, row_r2.shape)  # Prints "[[5 6 7 8]] (1, 4)"

col_r1 = a[:, 1]
col_r2 = a[:, 1:2]

print(col_r1, col_r1.shape)  # Prints "[ 2  6 10] (3,)"
print(col_r2, col_r2.shape)

#### Aritmetic operations

In [0]:
x = np.array([[1,2],[3,4]])

print(np.sum(x))  # Compute sum of all elements; prints "10"
print(np.sum(x, axis=0))  # Compute sum of each column; prints "[4 6]"
print(np.sum(x, axis=1))  # Compute sum of each row; prints "[3 7]"

#### Using Boolean Mask

In [0]:
b = np.arange(10)

print(b)

mask = b%2!=0 #perform computations on the list 

print(mask)

print(b[mask]) #applying the mask on the numpy array

In [0]:
modified_b = b
modified_b[mask] = -1

print(modified_b)

#### Swapping two columns in a 2d numpy array

In [0]:
a = np.arange(9).reshape(3,3)
print(a)

print(a[:, [1,0,2]])

#### Swapping two rows in a 2d numpy array

In [0]:
a = np.arange(9).reshape(3,3)
print(a)

print(a[[1,0,2], :])