[View in Colaboratory](https://colab.research.google.com/github/suvhradipghosh07/Assignment-2/blob/suvhradipghosh07/Exercise.ipynb)

# Pandas Exercise :


#### import necessary modules

In [0]:
import numpy as np
import pandas as pd

#### Load url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data" to a dataframe named wine_df

This is a wine dataset

In [0]:
import numpy as np
import pandas as pd
wine_df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')

#### print first five rows

In [12]:
wine_df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

#### assign wine_df to a different variable wine_df_copy and then delete all odd rows of wine_df_copy

[Hint](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [14]:
wine_df_copy=pd.DataFrame(np.arange(2478).reshape(177,14))
wine_df=pd.DataFrame.assign(wine_df_copy)
wine_df_copy.iloc[::2]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0,1,2,3,4,5,6,7,8,9,10,11,12,13
2,28,29,30,31,32,33,34,35,36,37,38,39,40,41
4,56,57,58,59,60,61,62,63,64,65,66,67,68,69
6,84,85,86,87,88,89,90,91,92,93,94,95,96,97
8,112,113,114,115,116,117,118,119,120,121,122,123,124,125
10,140,141,142,143,144,145,146,147,148,149,150,151,152,153
12,168,169,170,171,172,173,174,175,176,177,178,179,180,181
14,196,197,198,199,200,201,202,203,204,205,206,207,208,209
16,224,225,226,227,228,229,230,231,232,233,234,235,236,237
18,252,253,254,255,256,257,258,259,260,261,262,263,264,265
20,280,281,282,283,284,285,286,287,288,289,290,291,292,293
22,308,309,310,311,312,313,314,315,316,317,318,319,320,321
24,336,337,338,339,340,341,342,343,344,345,346,347,348,349
26,364,365,366,367,368,369,370,371,372,373,374,375,376,377
28,392,393,394,395,396,397,398,399,400,401,402,403,404,405
30,420,421,422,423,424,425,426,427,428,429,430,431,432,433
32,448,449,450,451,452,453,454,455,456,457,458,459,460,461
34,476,477,478,479,480,481,482,483,484,485,486,487,488,489
36,504,505,506,507,508,509,510,511,512,513,514,515,516,517
38,532,533,534,535,536,537,538,539,540,541,542,543,544,545
40,560,561,562,563,564,565,566,567,568,569,570,571,572,573
42,588,589,590,591,592,593,594,595,596,597,598,599,600,601
44,616,617,618,619,620,621,622,623,624,625,626,627,628,629
46,644,645,646,647,648,649,650,651,652,653,654,655,656,657
48,672,673,674,675,676,677,678,679,680,681,682,683,684,685
50,700,701,702,703,704,705,706,707,708,709,710,711,712,713
52,728,729,730,731,732,733,734,735,736,737,738,739,740,741
54,756,757,758,759,760,761,762,763,764,765,766,767,768,769
56,784,785,786,787,788,789,790,791,792,793,794,795,796,797
58,812,813,814,815,816,817,818,819,820,821,822,823,824,825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665
120,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693
122,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721
124,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749
126,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777
128,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805
130,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833
132,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861
134,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889
136,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917
138,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945
140,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973
142,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001
144,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
146,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057
148,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085
150,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113
152,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141
154,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169
156,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197
158,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225
160,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253
162,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281
164,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309
166,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337
168,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365
170,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393
172,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421
174,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449
176,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477

#### Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) Alcohol  
2) Malic acid  
3) Ash  
4) Alcalinity of ash  
5) Magnesium  
6) Total phenols  
7) Flavanoids  
8) Nonflavanoid phenols  
9) Proanthocyanins  
10)Color intensity  
11)Hue  
12)OD280/OD315 of diluted wines  
13)Proline

#### Set the values of the first 3 rows from alcohol as NaN

Hint- Use iloc to select 3 rows of wine_df

#### Create an array of 10 random numbers uptill 10 and assign it to a  variable named `random`

#### Use random numbers you generated as an index and assign NaN value to each of cell of the column alcohol

####  How many missing values do we have? 

Hint: you can use isnull() and sum()

#### Delete the rows that contain missing values

### BONUS: Play with the data set below