[View in Colaboratory](https://colab.research.google.com/github/MonojitBag/Assignment-2/blob/MonojitBag/Lists.ipynb)

# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
dummy_list=[1,52,46,78,52,65,45,25,23,49,50]

2) print dummy_list

In [1]:
dummy_list=[1,52,46,78,52,65,45,25,23,49,50]
print(dummy_list)

[1, 52, 46, 78, 52, 65, 45, 25, 23, 49, 50]

3) Reverse dummy_list and print

In [2]:
dummy_list=[1,52,46,78,52,65,45,25,23,49,50]
dummy_list.reverse()
print(dummy_list)

[50, 49, 23, 25, 45, 65, 52, 78, 46, 52, 1]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [3]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list_1=[1,52,46,78,52,65,45,25,23,49,50]
dummy_list=dummy_list_1+dummy_list_2
print (dummy_list)

[1, 52, 46, 78, 52, 65, 45, 25, 23, 49, 50, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [9]:
dummy_dict={}
dummy_dict["my_list"]=[1,52,46,78,52,65,45,25,23,49,50]
dummy_dict["sub_dict"]={"key": "value"}
dummy_dict["my_set"]=set([1,52,46,78,52,65,45,25,23,49,50])
dummy_dict[(15.335,56.456)]=("Everest","Nepal",8356)
for key,value in dummy_dict.items():
  print("key:{}\nValue: {}\n\n".format(key,value))

key:my_list
Value: [1, 52, 46, 78, 52, 65, 45, 25, 23, 49, 50]


key:sub_dict
Value: {'key': 'value'}


key:my_set
Value: {65, 1, 45, 46, 78, 49, 50, 52, 23, 25}


key:(15.335, 56.456)
Value: ('Everest', 'Nepal', 8356)

6) print dummy_dict

In [10]:
dummy_dict={}
dummy_dict["my_list"]=[1,52,46,78,52,65,45,25,23,49,50]
dummy_dict["sub_dict"]={"key": "value"}
dummy_dict["my_set"]=set([1,52,46,78,52,65,45,25,23,49,50])
dummy_dict[(15.335,56.456)]=("Everest","Nepal",8356)
for key,value in dummy_dict.items():
  print("key:{}\nValue: {}\n\n".format(key,value))

key:my_list
Value: [1, 52, 46, 78, 52, 65, 45, 25, 23, 49, 50]


key:sub_dict
Value: {'key': 'value'}


key:my_set
Value: {65, 1, 45, 46, 78, 49, 50, 52, 23, 25}


key:(15.335, 56.456)
Value: ('Everest', 'Nepal', 8356)

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [4]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list_1=[1,52,46,78,52,65,45,25,23,49,50]
dummy_list=dummy_list_1+dummy_list_2
dummy_list.sort()
print (dummy_list)

[0, 1, 1, 2, 4, 9.45, 12.01, 12.02, 16, 23, 25, 45, 45.67, 46, 49, 50, 52, 52, 65, 78, 90, 200]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [5]:
x = 200
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list_1=[1,52,46,78,52,65,45,25,23,49,50]
dummy_list=dummy_list_1+dummy_list_2
dummy_list.sort()
dummy_list.remove(x)
print (dummy_list)
# Let's play: try the same with something which is not in the list to get the ValueError

[0, 1, 1, 2, 4, 9.45, 12.01, 12.02, 16, 23, 25, 45, 45.67, 46, 49, 50, 52, 52, 65, 78, 90]

9) Remove the item at position x. x is any random integer

In [7]:
# Ledummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
x=int(input("value"))
dummy_list_1=[1,52,46,78,52,65,45,25,23,49,50]
dummy_list=dummy_list_1+dummy_list_2
dummy_list.sort()
dummy_list.remove(x)
print (dummy_list)

value52
[0, 1, 1, 2, 4, 9.45, 12.01, 12.02, 16, 23, 25, 45, 45.67, 46, 49, 50, 52, 65, 78, 90, 200]

10) Let's clean everything clear the list and then print

In [8]:
dummy_list_1=[1,52,46,78,52,65,45,25,23,49,50]
dummy_list=dummy_list_1+dummy_list_2
dummy_list.sort()
print (dummy_list)

[0, 1, 1, 2, 4, 9.45, 12.01, 12.02, 16, 23, 25, 45, 45.67, 46, 49, 50, 52, 52, 65, 78, 90, 200]