[View in Colaboratory](https://colab.research.google.com/github/dineshnadimpalli/Assignment-2/blob/dineshnadimpalli/Lists.ipynb)

# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
dummy_list = ["Hi", "ML", "Kolkata"]

2) print dummy_list

In [10]:
print(dummy_list)

['Hi', 'ML', 'Kolkata']

3) Reverse dummy_list and print

In [81]:
dummy_list.reverse()
print(dummy_list)

['Kolkata', 'ML', 'Hi']

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [82]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list.extend(dummy_list_2)
print(dummy_list)

['Kolkata', 'ML', 'Hi', 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [0]:
dummy_list_freq=[3,1,6,4,2,11,7,44,22,5,90,43,12,31]
dummy_dict = dict(zip(dummy_list, dummy_list_freq))

6) print dummy_dict

In [17]:
print(dummy_dict)

{'Kolkata': 3, 'ML': 1, 'Hi': 6, 2: 4, 200: 2, 16: 11, 4: 7, 1: 44, 0: 22, 9.45: 5, 45.67: 90, 90: 43, 12.01: 12, 12.02: 31}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [27]:
def ConvertToDict(dictionary, dummy_list):
  dictionary = dict(dummy_list)
  return dictionary

asc_sorted = sorted(dummy_dict.items(), key=lambda kv: kv[1])
asc_dict={}
print("Sorted dict in ascending order: " + str(ConvertToDict(asc_dict, asc_sorted))+ "\n")

des_sorted = sorted(dummy_dict.items(), key=lambda kv: kv[1], reverse = True)
des_dict={}
print("Sorted dict in descending order: " + str(ConvertToDict(des_dict, des_sorted)))

Sorted dict in ascending order: {'ML': 1, 200: 2, 'Kolkata': 3, 2: 4, 9.45: 5, 'Hi': 6, 4: 7, 16: 11, 12.01: 12, 0: 22, 12.02: 31, 90: 43, 1: 44, 45.67: 90}

Sorted dict in descending order: {45.67: 90, 1: 44, 90: 43, 12.02: 31, 0: 22, 12.01: 12, 16: 11, 4: 7, 'Hi': 6, 9.45: 5, 2: 4, 'Kolkata': 3, 200: 2, 'ML': 1}


8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [83]:
x = 200

print(dummy_list)
print("\n")

length = len(dummy_list)

# print(length)

for i in dummy_list:
  if(i == x):
    dummy_list.remove(i)
    
# print(len(dummy_list))

if(length == len(dummy_list)):
  raise ValueError("Item not found")
    
print(dummy_list)

# Let's play: try the same with something which is not in the list to get the ValueError

['Kolkata', 'ML', 'Hi', 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]


['Kolkata', 'ML', 'Hi', 2, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

9) Remove the item at position x. x is any random integer

In [50]:
# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get

import random

# print(len(dummy_list))

x = random.randint(1, len(dummy_list))
# x = len(dummy_list)+1
print(x)
print("\n")
print(dummy_list)
print("\n")

dummy_list.pop(x)
print(dummy_list)

14


['Hi', 2, 16, 4, 1, 9.45, 45.67, 90, 12.01, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]


['Hi', 2, 16, 4, 1, 9.45, 45.67, 90, 12.01, 2, 200, 16, 4, 1, 9.45, 45.67, 90, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

10) Let's clean everything clear the list and then print

In [84]:
print(dummy_list)
dummy_list.clear()
print("\n")
print(dummy_list)

['Kolkata', 'ML', 'Hi', 2, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]


[]