# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
import random
dummy_list = [0]
for x in range(10):
  x = random.randint(1,999)
  dummy_list.append(x)

2) print dummy_list

In [2]:
print(dummy_list)

[0, 354, 225, 129, 442, 101, 71, 584, 580, 553, 216]

3) Reverse dummy_list and print

In [3]:
dummy_list.reverse()
print(dummy_list)

[216, 553, 580, 584, 71, 101, 442, 129, 225, 354, 0]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [4]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
x = len(dummy_list_2)
for i in range(0,x):      #to eliminate the '[]' from the list
  dummy_list.append(dummy_list_2[i])
print(dummy_list)

[216, 553, 580, 584, 71, 101, 442, 129, 225, 354, 0, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [0]:
dummy_dict = {}
total = len(dummy_list)
for i in range(total):
  temp = dummy_list[i]
  dummy_dict[temp] = dummy_list.count(temp)

6) print dummy_dict

In [6]:
print(dummy_dict)

{216: 1, 553: 1, 580: 1, 584: 1, 71: 1, 101: 1, 442: 1, 129: 1, 225: 1, 354: 1, 0: 2, 2: 1, 200: 1, 16: 1, 4: 1, 1: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1, 12.02: 1}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [7]:
dummy_list.sort()
print(dummy_list)
dummy_list.sort(reverse=True)
print(dummy_list)

[0, 0, 1, 2, 4, 9.45, 12.01, 12.02, 16, 45.67, 71, 90, 101, 129, 200, 216, 225, 354, 442, 553, 580, 584]
[584, 580, 553, 442, 354, 225, 216, 200, 129, 101, 90, 71, 45.67, 16, 12.02, 12.01, 9.45, 4, 2, 1, 0, 0]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [8]:
x = 200
dummy_list.remove(x)
print(dummy_list)

#dummy_list.remove(13) 
#ValueError                                Traceback (most recent call last)
#<ipython-input-11-0c23785c7afd> in <module>()
#     1 x = 200
#---> 2 dummy_list.remove(x)
#     3 print(dummy_list)
#     4 dummy_list.remove(13)
#     5 
#
#ValueError: list.remove(x): x not in list
# Let's play: try the same with something which is not in the list to get the ValueError

[584, 580, 553, 442, 354, 225, 216, 129, 101, 90, 71, 45.67, 16, 12.02, 12.01, 9.45, 4, 2, 1, 0, 0]

9) Remove the item at position x. x is any random integer

In [0]:
# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get
import random
x = random.randint(0,len(dummy_list))
dummy_list.remove(x)

#to get the value errors
#x = len(dummy_list) + 1
#dummy_list.remove(x)

10) Let's clean everything clear the list and then print

In [10]:
dummy_list.clear()
print(dummy_list)

[]