[View in Colaboratory](https://colab.research.google.com/github/subhadeep-123/Assignment-2/blob/subhadeep-123/Lists.ipynb)

# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
dummy_list=[1,99,5,7,199,11,14,37,89,67,180]

2) print dummy_list

In [10]:
dummy_list=[1,99,5,7,199,11,14,37,89,67,180]
print(dummy_list)

[1, 99, 5, 7, 199, 11, 14, 37, 89, 67, 180]

3) Reverse dummy_list and print

In [9]:
dummy_list=[1,99,5,7,199,11,14,37,89,67,180]
print(dummy_list)
dummy_list.reverse()
print(dummy_list)

[1, 99, 5, 7, 199, 11, 14, 37, 89, 67, 180]
[180, 67, 89, 37, 14, 11, 199, 7, 5, 99, 1]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [12]:
dummy_list_1=[1,99,5,7,199,11,14,37,89,67,180]
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list=dummy_list_1+dummy_list_2
print(dummy_list)

[1, 99, 5, 7, 199, 11, 14, 37, 89, 67, 180, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [0]:
dummy_dict={'Name': 'Subhadeep', 'Age': 19, 'Stream': 'CSE', 'Year': 3}

6) print dummy_dict

In [6]:
dummy_dict={'Name': 'Subhadeep', 'Age': 19, 'Stream': 'CSE', 'Year': 3}
print(dummy_dict)

{'Name': 'Subhadeep', 'Age': 19, 'Stream': 'CSE', 'Year': 3}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [13]:
dummy_list.sort()
print("Assending Order", dummy_list)
dummy_list.sort(reverse=True)
print("Decending Order", dummy_list)

Assending Order [0, 1, 1, 2, 4, 5, 7, 9.45, 11, 12.01, 12.02, 14, 16, 37, 45.67, 67, 89, 90, 99, 180, 199, 200]
Decending Order [200, 199, 180, 99, 90, 89, 67, 45.67, 37, 16, 14, 12.02, 12.01, 11, 9.45, 7, 5, 4, 2, 1, 1, 0]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [14]:
x = 200
dummy_list.remove(x)
print(dummy_list)

# Let's play: try the same with something which is not in the list to get the ValueError

[199, 180, 99, 90, 89, 67, 45.67, 37, 16, 14, 12.02, 12.01, 11, 9.45, 7, 5, 4, 2, 1, 1, 0]

9) Remove the item at position x. x is any random integer

In [17]:
x= x>len(dummy_list)+1
dummy_list.remove(x)
print(dummy_list)

# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get

[199, 180, 99, 90, 89, 67, 45.67, 37, 16, 14, 12.02, 12.01, 11, 9.45, 7, 5, 4, 2, 1, 0]

10) Let's clean everything clear the list and then print

In [19]:
dummy_list.clear()
print(dummy_list)

[]