# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
dummy_list = [1, 2, 3, 4, 5]

2) print dummy_list

In [16]:
print (dummy_list)

[1, 2, 3, 4, 5]

3) Reverse dummy_list and print

In [17]:
dummy_list.reverse()
print(dummy_list)

[5, 4, 3, 2, 1]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [18]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list = dummy_list_2 + dummy_list
print(dummy_list)

[2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02, 5, 4, 3, 2, 1]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [0]:
dummy_dict = {"1":2, "2":2, "3":1, "4":2, "5":1, "200":1, "16":1, "0":1, "9.45":1, "45.67":1, "90":1, "12.01":1, "12.02":1}

6) print dummy_dict

In [21]:
print(dummy_dict)

{'1': 2, '2': 2, '3': 1, '4': 2, '5': 1, '200': 1, '16': 1, '0': 1, '9.45': 1, '45.67': 1, '90': 1, '12.01': 1, '12.02': 1}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [49]:
print("Ascending Order:")
dummy_list.sort()
print(dummy_list)

print("Descending Order:")
dummy_list.reverse()
print(dummy_list)

Ascending Order:
[1, 1, 2, 2, 3, 4, 4, 5, 9.45, 12.01, 12.02, 16, 45.67, 90, 200]
Descending Order:
[200, 90, 45.67, 16, 12.02, 12.01, 9.45, 5, 4, 4, 3, 2, 2, 1, 1]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [56]:
x = 200
dummy_list.remove('200')
# Let's play: try the same with something which is not in the list to get the ValueError

ValueError: ignored

9) Remove the item at position x. x is any random integer

In [58]:
# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get
dummy_list.remove(2)
print(dummy_list)

[200, 90, 45.67, 16, 12.02, 12.01, 9.45, 5, 4, 4, 3, 1, 1]

10) Let's clean everything clear the list and then print

In [59]:
del dummy_list[:] 
print(dummy_list)

[]