[View in Colaboratory](https://colab.research.google.com/github/sumitra1/Assignment-2/blob/sumitra1/Lists.ipynb)

# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
dummy_list = [84,65.6,65,8.3,80.83,3.2,74.73,74,99.99,9.5]

2) print dummy_list

In [4]:
print(dummy_list)

[84, 65.6, 65, 8.3, 80.83, 3.2, 74.73, 74, 99.99, 9.5]

3) Reverse dummy_list and print

In [5]:
dummy_list.reverse()
print(dummy_list)

[9.5, 99.99, 74, 74.73, 3.2, 80.83, 8.3, 65, 65.6, 84]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [6]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list += dummy_list_2
print(dummy_list)

[9.5, 99.99, 74, 74.73, 3.2, 80.83, 8.3, 65, 65.6, 84, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [0]:
dummy_dict = {}

In [0]:

for item in range(len(dummy_list)):
  dummy_dict[dummy_list[item]] = dummy_list.count(dummy_list[item])

6) print dummy_dict

In [10]:
print(dummy_dict)

{9.5: 1, 99.99: 1, 74: 1, 74.73: 1, 3.2: 1, 80.83: 1, 8.3: 1, 65: 1, 65.6: 1, 84: 1, 2: 1, 200: 1, 16: 1, 4: 1, 1: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1, 12.02: 1}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [11]:
dummy_list.sort()
print(dummy_list)
dummy_list.reverse()
print(dummy_list)

[0, 1, 2, 3.2, 4, 8.3, 9.45, 9.5, 12.01, 12.02, 16, 45.67, 65, 65.6, 74, 74.73, 80.83, 84, 90, 99.99, 200]
[200, 99.99, 90, 84, 80.83, 74.73, 74, 65.6, 65, 45.67, 16, 12.02, 12.01, 9.5, 9.45, 8.3, 4, 3.2, 2, 1, 0]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [12]:
x = 200
#dummy_list.insert(0,200)
dummy_list.remove(x)
print(dummy_list)

# Let's play: try the same with something which is not in the list to get the ValueError
dummy_list.remove(200)
# 200 is not in the dummy_list , so we get error

[99.99, 90, 84, 80.83, 74.73, 74, 65.6, 65, 45.67, 16, 12.02, 12.01, 9.5, 9.45, 8.3, 4, 3.2, 2, 1, 0]

ValueError: ignored

9) Remove the item at position x. x is any random integer

In [0]:
# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get

10) Let's clean everything clear the list and then print

In [13]:
dummy_list.clear()
print(dummy_list)

[]