In [0]:
#1) Create any random list and assign it to a variable dummy_list
dummy_list=[11,12,13,14,15]

In [6]:
#2) print dummy_list
print(dummy_list)

[11, 12, 13, 14, 15]

In [7]:
#3) Reverse dummy_list and print
dummy_list.reverse()
print(dummy_list)

[15, 14, 13, 12, 11]

In [8]:
#4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list=dummy_list + dummy_list_2
print(dummy_list)

[15, 14, 13, 12, 11, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

In [0]:
#5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.
dummy_dict={15:1,14:1,13:1,12:1,11:1,2:1,200:1,16:1,4:1,1:1,0:1,9.45:1,45.67:1,90:1,12.01:1,12.02:1}

In [10]:
#6) print dummy_dict
print(dummy_dict)

{15: 1, 14: 1, 13: 1, 12: 1, 11: 1, 2: 1, 200: 1, 16: 1, 4: 1, 1: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1, 12.02: 1}

In [11]:
#7) Sort dummy_list in ascending order as well as descending order and print the changed lists
dummy_list.sort()
print(dummy_list)
dummy_list.sort(reverse=True)
print(dummy_list)

[0, 1, 2, 4, 9.45, 11, 12, 12.01, 12.02, 13, 14, 15, 16, 45.67, 90, 200]
[200, 90, 45.67, 16, 15, 14, 13, 12.02, 12.01, 12, 11, 9.45, 4, 2, 1, 0]

In [12]:
#8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.
x=200
i=0
j=0
for i in dummy_list:
  if i==x :
    dummy_list.remove(i)
    break
  else:
    i=i+1
    j=j+1
  
if j==len(dummy_list):
  print("ValueError")
else:
  print(dummy_list)

[90, 45.67, 16, 15, 14, 13, 12.02, 12.01, 12, 11, 9.45, 4, 2, 1, 0]

In [13]:
#9) Remove the item at position x. x is any random integer
x=5
if(x>len(dummy_list)):
  print("Out of Range")
else:
  del dummy_list[x]
print(dummy_list)

[90, 45.67, 16, 15, 14, 12.02, 12.01, 12, 11, 9.45, 4, 2, 1, 0]

In [14]:
#10) Let's clean everything clear the list and then print
del dummy_list[:]
print(dummy_list)

[]