<a href="https://colab.research.google.com/github/NehaAgarwal2598/Assignment-2/blob/NehaAgarwal2598/NehaAgarwal2598.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# LIST_EXERCISE

In [0]:
#Create any random list and assign it to a variable dummy_list

import random

dummy_list = random.sample(range(0, 100), 10)

In [3]:
# print dummy_list

print(dummy_list)

[54, 38, 15, 18, 11, 22, 8, 52, 96, 44]

In [4]:
#Reverse dummy_list and print

dummy_list.reverse()
print(dummy_list)

[44, 96, 52, 8, 22, 11, 18, 15, 38, 54]

In [5]:
#Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
print(dummy_list+dummy_list_2)

[44, 96, 52, 8, 22, 11, 18, 15, 38, 54, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

In [0]:
# Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

dummy_dict={i:dummy_list.count(i) for i in set(dummy_list)}

In [7]:
#print dummy_dict
print (dummy_dict)

{96: 1, 38: 1, 8: 1, 11: 1, 44: 1, 15: 1, 18: 1, 52: 1, 22: 1, 54: 1}

In [8]:
#Sort dummy_list in ascending order as well as descending order and print the changed lists
#ASCENDING ORDER 
dummy_list.sort()
print(dummy_list)

#DESCENDING ORDER
dummy_list.sort(reverse=True)
print(dummy_list)

[8, 11, 15, 18, 22, 38, 44, 52, 54, 96]
[96, 54, 52, 44, 38, 22, 18, 15, 11, 8]

In [9]:
# Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

x = 200
dummy_list.remove(x)

# Let's play: try the same with something which is not in the list to get the ValueError

x=300

dummy_list.remove(x)

ValueError: ignored

In [10]:
#Remove the item at position x. x is any random integer
# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get

x=20
dummy_list.remove(dummy_list[x])

x=len(dummy_list)+5
dummy_list.remove(dummy_list[x])

IndexError: ignored

In [11]:
 #Let's clean everything clear the list and then print
dummy_list.clear()
print(dummy_list)

[]

In [0]:
#NUMPY_EXAMPLES 1

In [0]:
import numpy as np

In [0]:
a = np.array([1, 2, 3])   # Create a rank 1 array

In [15]:
print(a)

[1 2 3]

In [16]:
print(type(a)) #print type of a

<class 'numpy.ndarray'>

In [0]:
b = np.array([[1,2,3],[4,5,6]])    # Create a rank 2 array

In [18]:
print(b.shape)                     # Prints "(2, 3)"

(2, 3)

In [19]:
print(b[0, 0], b[0, 1], b[1, 0])

1 2 4

In [20]:
print(b.shape)

(2, 3)

In [21]:
print(b[0, 0], b[0, 1], b[1, 0])

1 2 4

In [0]:
a = np.zeros(shape=(2,2))
b = np.ones(shape = (3,3))
c = np.eye(2)
d = np.full(shape=(3,3), fill_value=5)
e = np.random.random((2,2))

In [23]:
print('a', a)
print('b',b)
print('c',c)
print('d',d)
print('e',e)

a [[0. 0.]
 [0. 0.]]
b [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
c [[1. 0.]
 [0. 1.]]
d [[5 5 5]
 [5 5 5]
 [5 5 5]]
e [[0.1817164  0.76469758]
 [0.9386814  0.78035816]]

In [24]:
a  ==  np.arange(10)
b  ==  np.linspace(0,10, num=6)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.

False

In [25]:
print(a)
print(b)

[[0. 0.]
 [0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [26]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

print(a[0, 1])

2

In [27]:
# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):
# [[2 3]
#  [6 7]]
b = a[:2, 1:3]

# A slice of an array is a view into the same data, so modifying it
# will modify the original array.
b[0, 0] = 77     # b[0, 0] is the same piece of data as a[0, 1]
print(a[0, 1])

77

In [28]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

row_r1 = a[1, :]    # Rank 1 view of the second row of a
row_r2 = a[1:2, :]  # Rank 2 view of the second row of a

print(row_r1, row_r1.shape)  # Prints "[5 6 7 8] (4,)"
print(row_r2, row_r2.shape)  # Prints "[[5 6 7 8]] (1, 4)"

[5 6 7 8] (4,)
[[5 6 7 8]] (1, 4)

In [29]:

col_r1 = a[:, 1]
col_r2 = a[:, 1:2]

print(col_r1, col_r1.shape)  # Prints "[ 2  6 10] (3,)"
print(col_r2, col_r2.shape)

[ 2  6 10] (3,)
[[ 2]
 [ 6]
 [10]] (3, 1)

In [30]:
x = np.array([[1,2],[3,4]])

print(np.sum(x))  # Compute sum of all elements; prints "10"
print(np.sum(x, axis=0))  # Compute sum of each column; prints "[4 6]"
print(np.sum(x, axis=1))  # Compute sum of each row; prints "[3 7]"

10
[4 6]
[3 7]

In [32]:
b = np.arange(10)

print(b)

mask = b%2!=0 #perform computations on the list 

print(mask)

print(b[mask]) #applying the mask on the numpy array

[0 1 2 3 4 5 6 7 8 9]
[False  True False  True False  True False  True False  True]
[1 3 5 7 9]

In [33]:
modified_b = b
modified_b[mask] = -1

print(modified_b)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

In [34]:
a = np.arange(9).reshape(3,3)
print(a)

print(a[:, [1,0,2]])

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[1 0 2]
 [4 3 5]
 [7 6 8]]

In [35]:
a = np.arange(9).reshape(3,3)
print(a)

print(arr[[1,0,2], :])

[[0 1 2]
 [3 4 5]
 [6 7 8]]

NameError: ignored

In [0]:
#NUMPY_EXERCISE

In [37]:
#) Create a uniform subdivision of the interval -1.3 to 2.5 with 64 subdivisions

import numpy as np

np.linspace(-1.3, 25, num=64)

array([-1.3       , -0.88253968, -0.46507937, -0.04761905,  0.36984127,
        0.78730159,  1.2047619 ,  1.62222222,  2.03968254,  2.45714286,
        2.87460317,  3.29206349,  3.70952381,  4.12698413,  4.54444444,
        4.96190476,  5.37936508,  5.7968254 ,  6.21428571,  6.63174603,
        7.04920635,  7.46666667,  7.88412698,  8.3015873 ,  8.71904762,
        9.13650794,  9.55396825,  9.97142857, 10.38888889, 10.80634921,
       11.22380952, 11.64126984, 12.05873016, 12.47619048, 12.89365079,
       13.31111111, 13.72857143, 14.14603175, 14.56349206, 14.98095238,
       15.3984127 , 15.81587302, 16.23333333, 16.65079365, 17.06825397,
       17.48571429, 17.9031746 , 18.32063492, 18.73809524, 19.15555556,
       19.57301587, 19.99047619, 20.40793651, 20.82539683, 21.24285714,
       21.66031746, 22.07777778, 22.4952381 , 22.91269841, 23.33015873,
       23.74761905, 24.16507937, 24.58253968, 25.        ])

In [38]:
#Generate an array of length 3n filled with the cyclic pattern 1, 2, 3
a=np.array([1,2,3])
n=10
np.tile(a,3*n)

array([1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1,
       2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2,
       3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3,
       1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1,
       2, 3])

In [39]:
#Create an array of the first 10 odd integers.

np.arange(1,20,2)

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [40]:
# Find intersection of a and b
# expected output array([2, 4])
# a = np.array([1,2,3,2,3,4,3,4,5,6])
# b = np.array([7,2,10,2,7,4,9,4,9,8])

a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.intersect1d(a,b)

array([2, 4])

In [0]:
#5) Reshape 1d array a to 2d array of 2X5

a = np.arange(10)
b = np.reshape(a, (-1, 5))

In [42]:
# Create a numpy array to list and vice versa

#a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

#numpy array to list 
a.tolist()

#list to numpy array

from numpy import array
array(a)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [43]:
# Create a 10 x 10 arrays of zeros and then "frame" it with a border of ones.

x = np.ones((10,10))

x[1:-1,1:-1] = 0
print(x)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

In [44]:
# Create an 8 x 8 array with a checkerboard pattern of zeros and ones using a slicing+striding approach.

x = np.ones((3,3))
x = np.zeros((8,8),dtype=int)
x[1::2,::2] = 1
print(x)
x[::2,1::2] = 1
print(x)

[[0 0 0 0 0 0 0 0]
 [1 0 1 0 1 0 1 0]
 [0 0 0 0 0 0 0 0]
 [1 0 1 0 1 0 1 0]
 [0 0 0 0 0 0 0 0]
 [1 0 1 0 1 0 1 0]
 [0 0 0 0 0 0 0 0]
 [1 0 1 0 1 0 1 0]]
[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]