[View in Colaboratory](https://colab.research.google.com/github/crazy-lazy-life/Assignment-2/blob/crazy-lazy-life/Problem_2_1_Lists.ipynb)

Creating a random list and assigning it to a variable dummy_list and printing it.

In [0]:
dummy_list = [5, 6 , 12, 23, 52]
print(dummy_list)

[5, 6, 12, 23, 52]

Reversing 'dummy_list' and printing it.

In [0]:
dummy_list.reverse()
print(dummy_list)

[52, 23, 12, 6, 5]

Adding pre-defined 'dummy_list_2' to our 'dummy_list'

In [0]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list.extend(dummy_list_2)
print(dummy_list)

[52, 23, 12, 6, 5, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

Creating a dictionary named 'dummy_dict' and adding the elemts of the list as keys and their frequency as their corresponding values and printing the dictionary.

In [0]:
dummy_dict={}
for i in dummy_list:
  freq=dummy_list.count(i)
  dummy_dict.update({i:freq})
  
print(dummy_dict)

{52: 1, 23: 1, 12: 1, 6: 1, 5: 1, 2: 1, 200: 1, 16: 1, 4: 1, 1: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1, 12.02: 1}

Sorting 'dummy_list' in ascending and descending order and printing them.

In [0]:
dummy_list_copy = dummy_list
dummy_list.sort()
print(dummy_list)

[0, 1, 2, 4, 5, 6, 9.45, 12, 12.01, 12.02, 16, 23, 45.67, 52, 90, 200]

In [0]:
dummy_list = dummy_list_copy
dummy_list.sort(reverse=True)
print(dummy_list)

[200, 90, 52, 45.67, 23, 16, 12.02, 12.01, 12, 9.45, 6, 5, 4, 2, 1, 0]

Removing the first occurance of the value x=200 from the list.

In [0]:
dummy_list = dummy_list_copy
x=200
dummy_list.remove(x)
print(dummy_list)

[90, 52, 45.67, 23, 16, 12.02, 12.01, 12, 9.45, 6, 5, 4, 2, 1, 0]

Removing an item from position x (random number) from 'dummy_list'

In [0]:
x = 5
del dummy_list[x]
print(dummy_list)

[90, 52, 45.67, 23, 16, 12.01, 12, 9.45, 6, 5, 4, 2, 1, 0]

Clearing the list and printing it to show its emptiness

In [0]:
dummy_list.clear()
print(dummy_list)

[]