# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
import random 
dummy_list = random.sample(range(1, 100), 5)

2) print dummy_list

In [79]:
import random 
dummy_list = random.sample(range(1, 100), 5)
print('List :- ' , dummy_list)

List :-  [37, 95, 81, 11, 84]

3) Reverse dummy_list and print

In [78]:
import random 
dummy_list = random.sample(range(1, 100), 5)
print('Orginal List :- ' , dummy_list)
dummy_list.reverse()
print('Reversed List :- ' , dummy_list)

Orginal List :-  [82, 3, 59, 6, 68]
Reversed List :-  [68, 6, 59, 3, 82]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [83]:
import random
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list = random.sample(range(1, 100), 5)
print('Orginal List :- ' , dummy_list)
dummy_list += dummy_list_2
print('Extended List :- ' , dummy_list)

Orginal List :-  [52, 84, 77, 65, 68]
Extended List :-  [52, 84, 77, 65, 68, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [0]:
dummy_dict = {}
dummy_dict = {x:sorted(dummy_list).count(x) for x in dummy_list}

6) print dummy_dict

In [85]:
print(dummy_dict)

{52: 1, 84: 1, 77: 1, 65: 1, 68: 1, 2: 1, 200: 1, 16: 1, 4: 1, 1: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1, 12.02: 1}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [86]:
dummy_list.sort()
print('Ascending Order :- ' , dummy_list)
dummy_list.sort(reverse = True)
print('Descending Order :- ' , dummy_list)

Ascending Order :-  [0, 1, 2, 4, 9.45, 12.01, 12.02, 16, 45.67, 52, 65, 68, 77, 84, 90, 200]
Descending Order :-  [200, 90, 84, 77, 68, 65, 52, 45.67, 16, 12.02, 12.01, 9.45, 4, 2, 1, 0]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [88]:
x = 200
dummy_list.remove(x)
x = 100

ValueError: ignored

9) Remove the item at position x. x is any random integer

In [89]:
x = rd.randrange(0, len(dummy_list))
print(x)
del dummy_list[x]
print(dummy_list)
x = len(dummy_list) + 1

NameError: ignored

10) Let's clean everything clear the list and then print

In [90]:
del dummy_list[:]
print(dummy_list)

[]