In [11]:
dummy_list=[1,3,5,7,9,11,13,15,17,19,21,23,25,27,29]
print(dummy_list)
dummy_list.reverse()
print(dummy_list)
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list.extend(dummy_list_2)
print(dummy_list)
dummy_dict={2:1,200:1,16:1,4:1,1:1,0:1,9.45:1,45.67:1,90:1,12.01:1,12.02:1}
print(dummy_dict)
dummy_list.sort()
print(dummy_list)
dummy_list.reverse()
print(dummy_list)
dummy_list.index(90)
dummy_list.pop(0)
print(dummy_list)
dummy_list.clear()
print(dummy_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
[29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]
[29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
{2: 1, 200: 1, 16: 1, 4: 1, 1: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1, 12.02: 1}
[0, 1, 1, 2, 3, 4, 5, 7, 9, 9.45, 11, 12.01, 12.02, 13, 15, 16, 17, 19, 21, 23, 25, 27, 29, 45.67, 90, 200]
[200, 90, 45.67, 29, 27, 25, 23, 21, 19, 17, 16, 15, 13, 12.02, 12.01, 11, 9.45, 9, 7, 5, 4, 3, 2, 1, 1, 0]
[90, 45.67, 29, 27, 25, 23, 21, 19, 17, 16, 15, 13, 12.02, 12.01, 11, 9.45, 9, 7, 5, 4, 3, 2, 1, 1, 0]
[]