[View in Colaboratory](https://colab.research.google.com/github/susovan1612/Assignment-2/blob/susovan1612/Untitled0.ipynb)

# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
import random
dummy_list=[random.randint(1,100) for i in range(10)]

2) print dummy_list

In [21]:
print('dummy_list =',dummy_list)

dummy_list = [26, 21, 30, 9, 13, 79, 20, 71, 87, 13]

3) Reverse dummy_list and print

In [22]:
print('Orginal dummy_list =',dummy_list)
dummy_list.reverse()
print("After Reverse dummy_list",dummy_list)

Orginal dummy_list = [26, 21, 30, 9, 13, 79, 20, 71, 87, 13]
After Reverse dummy_list [13, 87, 71, 20, 79, 13, 9, 30, 21, 26]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [23]:
print("dummy_list =",dummy_list)
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
print("dummy_list_2 =",dummy_list_2)
dummy_list=dummy_list+dummy_list_2
print("After adding the list dummy_list_2 to the previous dummy_list\ndummy_list =",dummy_list)

dummy_list = [13, 87, 71, 20, 79, 13, 9, 30, 21, 26]
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
After adding the list dummy_list_2 to the previous dummy_list
dummy_list = [13, 87, 71, 20, 79, 13, 9, 30, 21, 26, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [24]:
print("dummy_list =",dummy_list)

dummy_list = [13, 87, 71, 20, 79, 13, 9, 30, 21, 26, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

In [0]:
# Creating the dummy_dict
dummy_dict = {}
for i in dummy_list:
    dummy_dict[i]=dummy_list.count(i)

6) print dummy_dict

In [26]:
print(dummy_dict)

{13: 2, 87: 1, 71: 1, 20: 1, 79: 1, 9: 1, 30: 1, 21: 1, 26: 1, 2: 1, 200: 1, 16: 1, 4: 1, 1: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1, 12.02: 1}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [27]:
print("Orginal dummy_list =",dummy_list)
dummy_list.sort()
print("After Sorting dummy_list in ascending order =",dummy_list)
dummy_list.reverse()
print("After Sorting dummy_list in descending order =",dummy_list)

Orginal dummy_list = [13, 87, 71, 20, 79, 13, 9, 30, 21, 26, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
After Sorting dummy_list in ascending order = [0, 1, 2, 4, 9, 9.45, 12.01, 12.02, 13, 13, 16, 20, 21, 26, 30, 45.67, 71, 79, 87, 90, 200]
After Sorting dummy_list in descending order = [200, 90, 87, 79, 71, 45.67, 30, 26, 21, 20, 16, 13, 13, 12.02, 12.01, 9.45, 9, 4, 2, 1, 0]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [28]:
x = 200
try:
  dummy_list.remove(x)
  print("After deleting ",x," dummy_list become =",dummy_list)
except:
  print(x,"is not in the dummy_list")

# Let's play: try the same with something which is not in the list to get the ValueError

After deleting 200 dummy_list become = [90, 87, 79, 71, 45.67, 30, 26, 21, 20, 16, 13, 13, 12.02, 12.01, 9.45, 9, 4, 2, 1, 0]

9) Remove the item at position x. x is any random integer

In [29]:
# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get
import random
x=random.randint(1,len(dummy_list)+1)
dummy_list.remove(dummy_list[x-1])
print("From dummy_list",x,"position value was deleted.")
print("After that dummy_list=",dummy_list)

From dummy_list 20 position value was deleted.
After that dummy_list= [90, 87, 79, 71, 45.67, 30, 26, 21, 20, 16, 13, 13, 12.02, 12.01, 9.45, 9, 4, 2, 1]

10) Let's clean everything clear the list and then print

In [30]:
print("dummy_list=",dummy_list)
dummy_list.clear()
print("After clear the dummy_list=",dummy_list)

dummy_list= [90, 87, 79, 71, 45.67, 30, 26, 21, 20, 16, 13, 13, 12.02, 12.01, 9.45, 9, 4, 2, 1]
After clear the dummy_list= []

# Numpy Exercises

1) Create a uniform subdivision of the interval -1.3 to 2.5 with 64 subdivisions

In [0]:
import numpy as np #import numpy

2) Generate an array of length 3n filled with the cyclic pattern 1, 2, 3

In [6]:
n = int(input("Enter The Lenth of n ="))
x = np.array([1, 2, 3]*3*n)
print("x =",x)

Enter The Lenth of n =12
x = [1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1
 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2
 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3 1 2 3]

3) Create an array of the first 10 odd integers.

In [2]:
a=np.array([2*i+1 for i in range(10)])
print('a =',a)

a = [ 1  3  5  7  9 11 13 15 17 19]

4) Find intersection of a and b

In [11]:
#expected output array([2, 4])
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
print("a =",a,"\nb =",b)
print("Intersection of a and b is =",np.intersect1d(a,b))

a = [1 2 3 2 3 4 3 4 5 6]
b = [ 7  2 10  2  7  4  9  4  9  8]
Intersection of a and b is = [2 4]

5) Reshape 1d array a to 2d array of 2X5

In [8]:
a = np.arange(10)
print("a =",a)
a=a.reshape(2,5)
print("After Reshape a to 2D array of 2*5 =",a)

a = [0 1 2 3 4 5 6 7 8 9]
After Reshape a to 2D array of 2*5 = [[0 1 2 3 4]
 [5 6 7 8 9]]

6) Create a numpy array to list and vice versa

In [6]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
np.array(a).tolist()
print(type(a))
print("a =",a)
a=np.asarray(a)
print(type(a))
print("a =",a)

<class 'list'>
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'numpy.ndarray'>
a = [1 2 3 4 5 6 7 8 9]

7) Create a 10 x 10 arrays of zeros and then "frame" it with a border of ones.

In [22]:
a=np.ones((10,10),dtype=int)
a[1:-1,1:-1] = 0
print(a)

[[1 1 1 1 1 1 1 1 1 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 1]
 [1 1 1 1 1 1 1 1 1 1]]

8) Create an 8 x 8 array with a checkerboard pattern of zeros and ones using a slicing+striding approach.

In [9]:
x = np.zeros((8,8),dtype=int)
x[1::2,::2] = 1
x[::2,1::2] = 1
print(x)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]